﻿@using Concurrency.Definitions.CurrentUser

@{
    ViewBag.Title = "Y models";

    var currentUser = ViewBag.CurrentUser as CurrentUser;
}

<div class="row" ng-view></div>

@section scripts{

    @Scripts.Render("~/bundles/ymodels")
    
    @if (currentUser != null)
    {
        <script type="text/javascript">
            window.currentUserId = @(currentUser.Id);
        </script>
    }
}