﻿@using Concurrency.Definitions.CurrentUser

@{
    var currentUser = ViewBag.CurrentUser as CurrentUser;
}

<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml" data-ng-app="concurrencyApp">
<head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">

    <title>Modules</title>
    
    <base href="/" />
    <script>
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/common")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                      
            </div>
            <div class="navbar-collapse collapse">
                <div class="row" id="nav-panel">
                    <div class="col-md-8">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("X models", "Index", "XModels")</li>
                            <li>@Html.ActionLink("Y models", "Index", "YModels")</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav navbar-nav">
                            <li><a>@(currentUser == null ? string.Empty : currentUser.Logname)</a></li>
                            <li><a href="/account/logoff">Log out</a></li>
                        </ul>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    
</body>
</html>
