﻿<div class="row">
    <h3>Add new Y model</h3>
    <form>
        <div class="form-group">
            <label for="x-title">Title:</label>
            <input type="text" class="form-control" id="x-title" ng-model="data.Item.Title" required placeholder="Enter title" maxlength="512"/>
        </div>
        <div class="form-group">
            <label for="x-health">Health:</label>
            <input type="number" class="form-control" id="x-health" ng-model="data.Item.Health" required placeholder="Enter health" />
        </div>
        <button class="btn btn-success" ng-click="save(data.Item)">Save</button>
        <button class="btn btn-default" ng-click="unblock(data.Item.Id)" ng-if="data.Item.Id">Returne to list</button>
        <a class="btn btn-default" href="YModels#/list" ng-if="!data.Item.Id">Return to list</a>
    </form>      
</div>
<span class="text-danger" ng-if="data.Message" ng-bind="data.Message"></span>

<script type="text/javascript">
    $('#nav-panel').hide();
</script>