﻿<div class="row">
    <h2>Y models list:</h2>
    <p><button class="btn btn-default" ng-click="create()">Add new Y model</button></p>
    <strong ng-bind="message" class="text-danger"></strong>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Health</th>
                    <th>Blocked by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-animate="'animate'" ng-repeat="item in pages[info.currentPage].items" ng-class="{ 'danger': !(item.UserId == null || item.UserId == currentUserId) }">
                    <td ng-bind="item.Id"></td>
                    <td ng-bind="item.Title"></td>
                    <td ng-bind="item.Health"></td>
                    <td><span ng-bind="item.ModifiedBy" ng-if="item.UserId != currentUserId"></span></td>
                    <td>
                        <span ng-if="item.UserId == null || item.UserId == currentUserId">
                            <button class="btn btn-success" ng-click="edit(item.Id)">Edit</button>
                            <button class="btn btn-danger" ng-confirm="Are you sure?" ng-click="del(item.Id)">Del</button>
                            <button class="btn btn-warning" ng-click="unblock(item.Id)" ng-if="item.UserId == currentUserId">Un block</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <tbpager total-pages="info.totalPages" current-page="info.currentPage" page-action="navigate(pageNumber)"></tbpager>
    </div>
</div>

<script type="text/javascript">
    $('#nav-panel').show();
</script>