﻿<div class="row">
    <div class="row" ng-if="!DbItem">
        <h3>Add new X model</h3>
        <form>
            <div class="form-group">
                <label for="x-title">Title:</label>
                <input type="text" class="form-control" id="x-title" ng-model="Item.Title" required placeholder="Enter title" maxlength="512"/>
            </div>
            <div class="form-group">
                <label for="x-health">Health:</label>
                <input type="number" class="form-control" id="x-health" ng-model="Item.Health" required placeholder="Enter health" />
            </div>
            <button class="btn btn-success" ng-click="save()">Save</button>
        </form>
    </div>
    <div class="row" ng-if="DbItem">
        <div class="row">
            <strong>Should be resolved conflicts: </strong>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="Item.Title" ng-value="Copy.Title"><strong>My: </strong><span ng-bind="Copy.Title"></span>
                        </label>
                    </div>
                    <div class="radio">
                        <label ng-if="Copy.Title != DbItem.Title">
                            <input type="radio" ng-model="Item.Title" ng-value="DbItem.Title"><strong>Db: </strong><span ng-bind="DbItem.Title"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <label class="radio-inline">
                        <input type="radio" ng-model="Item.Health" ng-selected="true" ng-value="Copy.Health"><strong>My: </strong><span ng-bind="Copy.Health"></span>
                    </label>
                    <label class="margin-block" ng-if="Copy.Health != DbItem.Health">
                        <input type="radio" ng-model="Item.Health" ng-value="DbItem.Health"><strong>Db: </strong><span ng-bind="DbItem.Health"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="row">
            <strong>To save:</strong>
            <ul class="list-group">
                <li class="list-group-item"><strong>Title:</strong> <span ng-bind="Item.Title"></span></li>
                <li class="list-group-item"><strong>Health:</strong> <span ng-bind="Item.Health"></span></li>
            </ul>
            <button class="btn btn-success" ng-click="save()">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <a class="btn btn-default" href="YModels#/list">Returne to list</a>
        </div>
    </div>
    <div ng-if="Message">
        <h3 ng-bind="Message" class="bg-red"></h3>
    </div>
</div>

<script type="text/javascript">
    $('#nav-panel').hide();
</script>