﻿<div class="row">
    <h2>X models list:</h2>
    <p><button class="btn btn-default" ng-click="create()">Add new X model</button></p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Health</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-animate="'animate'" ng-repeat="item in pages[info.currentPage].items">
                <td ng-bind="item.Id"></td>
                <td ng-bind="item.Title"></td>
                <td ng-bind="item.Health"></td>
                <td>
                    <button class="btn btn-success" ng-click="edit(item.Id)">Edit</button>
                    <button class="btn btn-danger" ng-confirm="Are you sure?" ng-click="del(item.Id, item.Version)">Del</button>
                </td>
            </tr>
            </tbody>
        </table>
        <tbpager total-pages="info.totalPages" current-page="info.currentPage" page-action="navigate(pageNumber)"></tbpager>     
    </div>
</div>

<script type="text/javascript">
    $('#nav-panel').show();
</script>
